/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


@font-face {
  font-family: 'Amaranth';
  src: url('../font/Amaranth.eot?#iefix') format('embedded-opentype'),  url('../font/Amaranth.otf')  format('opentype'),
         url('../font/Amaranth.woff') format('woff'), url('../font/Amaranth.ttf')  format('truetype'), url('../font/Amaranth.svg#Amaranth') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Amaranth-Bold';
  src: url('../font/Amaranth-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/Amaranth-Bold.otf')  format('opentype'),
         url('../font/Amaranth-Bold.woff') format('woff'), url('../font/Amaranth-Bold.ttf')  format('truetype'), url('../font/Amaranth-Bold.svg#Amaranth-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    /*background: url(../img/background.jpg) no-repeat top center fixed; */
    background: url('../img/small-background_PSV.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}


#content{
    width: 100%;
    height: 11% !important;
    position: absolute;
    z-index: 999;
    top: 25%;
    right: 0;
    z-index: 2;
}

#main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    opacity: 1;
}

.wh{height:100% !important; width: auto; max-width: inherit !important;}
.ww{width:100% !important; height: auto; max-height: inherit !important;}

.player{
    max-height: 100%;
    width: auto;
    position: fixed;
    top: 0;
    left: 4%;
    z-index: 2;
}



.content-text{
    text-align: right;
    font-size: 2.0vh;
    line-height: 3.0vh;
    float: left;
    height: 100%;
    display: table;
}


.content-text p{
    margin:0px;
    color:#ffffff;
    font-family: 'Amaranth';
    font-weight: 400;
    padding-left: 15px;
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 100%;
}

.content-text a{
    color:#ffffff;
    font-family: 'Amaranth-Bold';
    font-weight: 700; 
    text-decoration:none;
}

.content-text a:hover{
    text-decoration: underline;
}

.content-social{
    margin-right: 0;
    height: 100%;
    white-space: nowrap;
    width: auto;
    text-align: right;
    position: relative;
    /*overflow: hidden;*/
    float: right;
    width: 100%;
    background-color: #000;
    z-index: -1;
    padding-top: 1%;
    padding-bottom: 1%;
}

.content-social a{
    display: block;
    width: auto;
    height: 100%;
    margin: 0px;
    float: right;
    padding: 0%;
    box-sizing: border-box;
}

.content-social a img{
    height: 45px;
    width: auto;
    display: block;
}

#facebook{
    padding-right: 3.3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#twitter{
    padding-left: 3.3%;
    padding-right: 3.3%;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding-top: 1%;
    padding-bottom: 1%;
}

#instagram{
    margin-right: 25%;
    padding-left: 3.3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#number{
    height: 30%;
    bottom: 4%;
    right: 4%;
    width: auto;
    position: absolute;
    z-index: 3;
}

#logos{
    height: 7%;
    bottom: 4%;
    position: absolute;
    z-index: 4;
    width: auto;
    background-color: black;
    right: 0px;
    padding-right: 2%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

#number img, #logos img{
    height: 100%;
    width: auto;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */



@media only screen and (max-width: 210px) {
    #number{
        left: 6px !important;
    }

}

@media only screen and (max-width: 699px) and (orientation: landscape){
    #logos {
        height: 10% !important;
    }
    .content-social a img{
        height: 100%;
        width: auto;
        display: block;
    }
    #content {
        height: 14% !important;
        top: 17%;
    }
}


@media only screen and (max-width: 699px) and (orientation: portrait){
    .content-text{
        float: none;
        /* height: 45%; */
        margin: 0;
        position: absolute;
        right: 10%;
        padding-right: 0;
        bottom: 5px;
        display: block;
        /* vertical-align: bottom; */
        height: auto;
        font-size: 1.6vh;
        line-height: 2.0vh;
        bottom: -35px;
        width: 100% !important;
    }

    .content-social{
        float: none;
        height: 50%;
        position: absolute;
        top: 5px;
        width: 100%;
        right: 0;
        margin: 0;
        text-align: right;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .content-social a {
        display: inline-block;
        padding: 0;
        margin-left: 6%;
        width: auto;
        height: 100%;
        margin-top: 0;
    }
    
    .content-social a img{
        height: 100%;
        width: auto;
        display: block;
    }

    .content-text p {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        height: 18px;
    }
    
    .player{
        left: -26%;
        max-height: 93% !important;
        bottom: 0 !important;
        top: initial;
    }
    #twitter{
        padding: 0;
        margin: 0 2%;
        padding: 0 3%;
    }
    #facebook{
        padding: 0;
        margin: 0 2%;
    }
    #instagram{
        padding: 0;
        margin: 0 3% 0 2%;
    }
    #logos{
        bottom: 9%;
    }
    #content{
        height: 14% !important;
        top: 17%;
    }
}

@media only screen and (width: 736px) and (orientation: landscape){
    .player{
        left: 10% !important;
    }
    #instagram{
        margin: 0 20% 0 1% !important;
    }
    .content-text {
        right: 12% !important;
        bottom: -25px !important;
    }
    #content {
        height: 14% !important;
        top: 17%;
    }
}    

@media (min-width: 700px) and (max-width: 850px){
    .content-text{
        float: none;
        /* height: 45%; */
        margin: 0;
        position: absolute;
        right: 10%;
        padding-right: 0;
        bottom: 5px;
        display: block;
        /* vertical-align: bottom; */
        height: auto;
        font-size: 1.6vh;
        line-height: 2.0vh;
        bottom: -35px;
        width: 100% !important;
    }

    .content-social{
        float: none;
        height: 60%;
        position: absolute;
        top: 5px;
        width: 100%;
        right: 0;
        margin: 0;
        text-align: right;
    }

    .content-social a {
        display: inline-block;
        padding: 0;
        margin-left: 6%;
        width: auto;
        height: 100%;
        margin-top: 0;
    }

    .content-text p {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        height: 18px;
    }
    
    .player{
        left: -15%;
        max-height: 91% !important;
        bottom: 0 !important;
        top: initial;
    }
    .content-social a img{
        height: 100%;
        width: auto;
        display: block;
    }
    #twitter{
        padding: 0;
        margin: 0 2%;
        padding: 0 2%;
    }
    #facebook{
        padding: 0;
        margin: 0 2%;
    }
    #instagram{
        padding: 0;
        margin: 0 4% 0 1%;
    }
    #logos{
        bottom: 9%;
    }
    #content{
        top: 20%;
        height: 14% !important;
    }
    
}

@media (min-width: 851px) and (max-width: 1100px) {
    #instagram{
        margin-right: 12%;
    }  
    .player{
        left: 2%;
    }
    .content-social a img{
        height: 100%;
        width: auto;
        display: block;
    }
}  

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}